
.speech {
    font-family: 'YourSpeechFont', sans-serif;
    font-size: 16px;
    color: black;
}


.direction {
    font-family: 'YourDirectionFont', sans-serif;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
}

.direction:hover {
    background-color: lightblue;
    color: white;
}
.name{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

.ANDREY {
    color: #3366cc;

}

.NATASHA {
    color: #cc6633;
    
}

.FERAPONT {
    color: #339933;
}


.table {
    border-color:rgba(15, 181, 120, 0.705);
    width: 50%;
    text-align: center;
    padding: 12px;
    margin: 12px;
}
th {
    border: 2px solid;
    border-radius: 4px;
    border-color: rgb(150, 78, 5);
    color:rgb(252, 250, 250);
    height: 50px;
    background-color:rgba(28, 64, 45, 0.858);
}
td {
    border: 2px solid;
    border-radius: 4px;
    border-color:rgb(55, 28, 138);
    height:30px;
}

tr:hover {background-color: antiquewhite;}

.MARINA:hover {
    font-size: medium;
    color:hotpink;
    text-shadow:0 0 10px darkorange;
    border-style: groove;
    border-radius: 6px;
}
.ASTROFF:hover {
    font-size: medium;
    color:mediumspringgreen;
    text-shadow: 0 0 10px gray;
    border-style: groove ;
    border-radius: 6px;
}

    u1.navbar-horizontal {
    list-style-type: none;
    margin: 2;
    padding: 2;
    }
    u1.navbar-horizontal li {
        float:left;
        color:rgb(138, 205, 50);
        background-color: rgb(129, 61, 97);
    }
    u1.navbar-horizontal a {
        display:block;
        padding:8px;
    }
    u1.navbar-horizontal a:hover {
        background-color: cornsilk;
        color:rgb(15, 155, 10);
    }


